<!-- customer.html -->

<div ng-controller="CustomerController" layout="column" ng-cloak="" class="md-inline-form inputdemoBasicUsage">
	<h1>Add Customer</h1>
	

	<!-- Add customer here -->
		<md-content layout-gt-sm="row" layout-padding="">
			<div>
				<md-input-container>
					<label>Name</label>
					<input ng-model="newCustomer.name">
				</md-input-container>
				<md-button class="custom_add_button" ng-click="addCustomer()">Add Customer</md-button>


				<!-- checks to see if name is already in database -->
				<div id="dup" ng-show="isDuplicate()">{{dup_msg}}</div>

			</div>
		</md-content>



	<!-- display customers and when it was created -->
	<h1>Customer List</h1>
	<table class="table">
		<thead>
			<tr>
				<th align='left'>Customer Name</th>
				<th align='left'>Created Date</th>
				<th align='left'>Actions</th>
			</tr>
		</thead>

		<!-- Filter out names -->
		<h3>Search names: <input type="text" ng-model="filter_name">  </h3>


		<tbody>
			<!-- looping through users.  this is being called from controller > getUsers -->
			<tr ng-repeat="x in customers | orderBy:'created_at' | filter:filter_name">
				<td>{{ x.name }}</td>
				<td>{{ x.created_at | date:'MM/dd/yyyy' }}</td>
				<!-- clicking delete calls the CONTROLLER deleteProduct method -->
				<!-- <td><a href="#" ng-click="deleteCustomer(x._id)">Delete</td> -->
				<td><md-button class="custom_add_button" ng-click="deleteCustomer(x._id)">Delete</md-button></td>

				

			</tr>
		</tbody>


	</table>

</div>